<!DOCTYPE html>
<html style=" height: 100%;">
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Компьютеры/Консоли</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pirata+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="bodys">
<div class="container-fluid">
    <nav class="navbar navbar-light snav" >
        <div class="container-fluid snav">
            <a class="navbar-brand"  href="/">
                <img class="logo" th:src="@{/img/play1.png}" alt="CyberPlay" width="80" height="80"/>
            </a>
            <div class="d-inline-flex align-items-center">
                <a class="list-group-item list-group-iteminfo item hrefitem btn-menu comforta-500"  href="/Status">Статусы</a>
                <a class="list-group-item list-group-iteminfo item hrefitem btn-menu comforta-500"  href="/Computer">Компьютеры/Консоли</a>
                <a class="list-group-item list-group-iteminfo item hrefitem btn-menu comforta-500"  href="/Guest">Посетители</a>
                <a class="list-group-item list-group-iteminfo item hrefitem btn-menu comforta-500"  href="/Visit">Учет аренды</a>
                <form th:action="@{/logout}" method="post">
                    <button class="list-group-item list-group-iteminfo item hrefitem btn-auth comforta-500"  th:text="${account}" type="submit"></button>
                </form>
            </div>
        </div>
    </nav>
    <div class="container-fluid comforta-500">
        <div class="mb-5 mb-lg-5 mb-md-5 mb-sm-5 mb-xl-5 mb-xxl-5 p-4 p-lg-4 p-md-4 p-sm-4 p-xl-4 p-xxl-4"></div>
        <div class="row justify-content-center ">
            <div class="col-9 col-md-7 ps-5 pe-5 ">
                <h3 class="gradient-table-text ">Компьютеры/Консоли</h3>
                <table class="table whitetext comforta-500">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Статус</th>
                        <th scope="col">Название</th>
                        <th scope="col">Тариф</th>
                        <th scope="col">Описание</th>
                        <th scope="col">Редактировать</th>
                        <th scope="col">Удалить</th>
                    </tr>
                    </thead>
                    <tbody class="table-bord">
                    <tr class="child-table" th:each="var : ${computers}">
                        <td th:text="${var.getId()}"></td>
                        <td th:text="${var.getStatus().getComputer_status()}"></td>
                        <td th:text="${var.getName()}"></td>
                        <td th:text="${var.getPlan()}"></td>
                        <td th:text="${var.getDescription()}"></td>
                        <td>
                            <form action="#" th:action="@{/Computer/update}" th:object="${computer}" method="post">
                                <input name="id" type="hidden" th:value="${var.getId()}"/>
                                <input name="name" type="hidden" th:value="${var.getName()}"/>
                                <input name="plan" type="hidden" th:value="${var.getPlan()}"/>
                                <input name="description" type="hidden" th:value="${var.getDescription()}"/>
                                <input name="status" type="hidden" th:value="${var.getStatus().getId()}"/>
                                <button type="submit" class="btn btn-outline-primary btn-edits"><img width="32" height="32" th:src="@{/img/edit.png}"/></button>
                            </form>
                        </td>
                        <td>
                            <form action="#" th:action="@{/Computer/delete}" th:object="${var}" method="post">
                                <input name="id" type="hidden" th:value="${var.getId()}"/>
                                <button type="submit" class="btn btn-outline-primary btn-delete"><img width="32" height="32" th:src="@{/img/delete.png}"/></button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-5 col-md-5 ps-5 pe-5">
                <form method="POST" th:action="@{/Computer/create}" th:object="${computer}">
                    <h3 class="gradient-table-text">Новая запись</h3>
                    <div class="mb-3 whitetext">
                        <div class="col-sm-6">
                            <hr>
                            <label for="name" class="col-sm-5 col-form-label whitetext" >Название</label>
                            <input placeholder="Название" type="text" name="name" class="form-control" id="name" th:field="*{name}"/>
                            <div class="alert alert-warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                            <br>
                            <label for="status" class="col-sm-5 col-form-label whitetext" >Статус</label>
                            <div class="col-sm-7">
                                <select style="width: 170%" th:field="*{status.id}" name="status" id="status"
                                        class="form-control">
                                    <option th:value="-1">Выберите статус</option>
                                    <option th:each="var : ${statuses}" th:value="${var.getId()}"
                                            th:text="${var.getComputer_status()}"></option>
                                </select>
                                <div class="alert alert-warning" th:if="${#fields.hasErrors('status')}"
                                     th:errors="*{status}"></div>
                            </div>
                            <br>
                            <label for="plan" class="col-sm-5 col-form-label whitetext">Тариф, руб</label>
                            <input placeholder="Тариф" type="text" name="plan" class="form-control" id="plan" th:field="*{plan}"/>
                            <div class="alert alert-warning" th:if="${#fields.hasErrors('plan')}" th:errors="*{plan}"></div>
                            <br>
                            <label for="description" class="col-sm-5 col-form-label whitetext">Описание</label>
                            <textarea placeholder="Описание" name="description" class="form-control" rows='4' id="description" th:field="*{description}"></textarea>
                            <div class="alert alert-warning" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>


                        </div>
                    </div>
                    <p>
                        <br>
                        <button type="submit" class="btn-add">Добавить</button>
                        <br>
                    </p>
                </form>
            </div>
        </div>
    </div>
    <div class="mb-5 mb-lg-5 mb-md-5 mb-sm-5 mb-xl-5 mb-xxl-5 p-4 p-lg-4 p-md-4 p-sm-4 p-xl-4 p-xxl-4"></div>
    <div class="mb-5 mb-lg-5 mb-md-5 mb-sm-5 mb-xl-5 mb-xxl-5 p-4 p-lg-4 p-md-4 p-sm-4 p-xl-4 p-xxl-4"></div>
    <div class="p-4 p-lg-4 p-md-4 p-sm-4 p-xl-4 p-xxl-4 fixed-bottom align-items-center" style="background: #121212">
        <div class="row row-cols-lg-5">
            <div class="col col-md-4 col-lg-4 col-xl-4 col-xxl-4 col-6">
                <h3 class="text-center card-text comforta-500">Java Spring</h3>
            </div>
            <div class="col col-md-4 col-lg-4 col-xl-4 col-xxl-4 col-6">
                <h3 class="text-center card-text comforta-500">PostgreSQL</h3>
            </div>
            <div class="col col-md-4 col-lg-4 col-xl-4 col-xxl-4 col-6">
                <h3 class="text-center card-text comforta-500">Bootstrap 5</h3>
            </div>

        </div>
    </div>
</div>
</body>
</html>