<!DOCTYPE html>
<html style=" height: 100%;">
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Учет аренды</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pirata+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="bodys">
<div class="container-fluid">
    <nav class="navbar navbar-light snav" >
        <div class="container-fluid snav">
            <a class="navbar-brand"  href="/">
                <img class="logo" th:src="@{/img/play1.png}" alt="CyberPlay" width="80" height="80"/>
            </a>
            <div class="d-inline-flex align-items-center">
                <a class="list-group-item list-group-iteminfo item hrefitem btn-menu comforta-500"  href="/Status">Статусы</a>
                <a class="list-group-item list-group-iteminfo item hrefitem btn-menu comforta-500"  href="/Computer">Компьютеры/Консоли</a>
                <a class="list-group-item list-group-iteminfo item hrefitem btn-menu comforta-500"  href="/Guest">Посетители</a>
                <a class="list-group-item list-group-iteminfo item hrefitem btn-menu comforta-500"  href="/Visit">Учет аренды</a>
                <form th:action="@{/logout}" method="post">
                    <button class="list-group-item list-group-iteminfo item hrefitem btn-auth comforta-500"  th:text="${account}" type="submit"></button>
                </form>
            </div>
        </div>
    </nav>
    <div class="container-fluid comforta-500">
        <div class="mb-5 mb-lg-5 mb-md-5 mb-sm-5 mb-xl-5 mb-xxl-5 p-4 p-lg-4 p-md-4 p-sm-4 p-xl-4 p-xxl-4"></div>
        <div class="row justify-content-center ">
            <div class="col-9 col-md-7 ps-5 pe-5 ">
                <h3 class="gradient-table-text ">Учет аренды</h3>
                <table class="table whitetext comforta-500">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Компьютер/Консоль</th>
                        <th scope="col">Посетитель</th>
                        <th scope="col">Дата</th>
                        <th scope="col">Время</th>
                        <th scope="col">Итого, руб</th>
                        <th scope="col">Редактировать</th>
                        <th scope="col">Удалить</th>
                    </tr>
                    </thead>
                    <tbody class="table-bord">
                    <tr class="child-table" th:each="var : ${visits}">
                        <td th:text="${var.getId()}"></td>
                        <td th:text="${var.getComputer().getName()}"></td>
                        <td th:text="${var.getGuest().getSurname()}"></td>
                        <td th:text="${var.getDate()}"></td>
                        <td th:text="${var.getTime()}"></td>
                        <td th:text="${var.getPay()}"></td>
                        <td>
                            <form action="#" th:action="@{/Visit/update}" th:object="${visit}" method="post">
                                <input name="id" type="hidden" th:value="${var.getId()}"/>
                                <input name="date" type="hidden" th:value="${var.getDate()}"/>
                                <input name="time" type="hidden" th:value="${var.getTime()}"/>
                                <input name="pay" type="hidden" th:value="${var.getPay()}"/>
                                <input name="computer" type="hidden" th:value="${var.getComputer().getId()}"/>
                                <input name="guest" type="hidden" th:value="${var.getGuest().getId()}"/>
                                <button type="submit" class="btn btn-outline-primary btn-edits"><img width="32" height="32" th:src="@{/img/edit.png}"/></button>
                            </form>
                        </td>
                        <td>
                            <form action="#" th:action="@{/Visit/delete}" th:object="${var}" method="post">
                                <input name="id" type="hidden" th:value="${var.getId()}"/>
                                <button type="submit" class="btn btn-outline-primary btn-delete"><img width="32" height="32" th:src="@{/img/delete.png}"/></button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-5 col-md-5 ps-5 pe-5">
                <form method="POST" th:action="@{/Visit/create}" th:object="${visit}">
                    <h3 class="gradient-table-text">Новая запись</h3>
                    <div class="mb-3 whitetext">
                        <div class="col-sm-6">
                            <hr>
                            <label for="computer" class="col-sm-5 col-form-label whitetext" >Компьютер/Консоль</label>
                            <div class="col-sm-7">
                                <select style="width: 170%" th:field="*{computer.id}" name="computer" id="computer"
                                        class="form-control">
                                    <option th:value="-1">Выберите компьютер/консоль</option>
                                    <option th:each="var : ${computers}" th:value="${var.getId()}"
                                            th:text="${var.getName()}"></option>
                                </select>
                                <div class="alert alert-warning" th:if="${#fields.hasErrors('computer')}"
                                     th:errors="*{computer}"></div>
                            </div>
                            <br>
                            <label for="guest" class="col-sm-5 col-form-label whitetext" >Посетитель</label>
                            <div class="col-sm-7">
                                <select style="width: 170%" th:field="*{guest.id}" name="guest" id="guest"
                                        class="form-control">
                                    <option th:value="-1">Выберите посетителя</option>
                                    <option th:each="var : ${guests}" th:value="${var.getId()}"
                                            th:text="${var.getSurname()}"></option>
                                </select>
                                <div class="alert alert-warning" th:if="${#fields.hasErrors('guest')}"
                                     th:errors="*{guest}"></div>
                            </div>
                            <br>
                            <label for="date" class="col-sm-5 col-form-label whitetext" >Дата посещения</label>
                            <input placeholder="Дата" type="date" name="date" class="form-control" id="date" th:field="*{date}"/>
                            <div class="alert alert-warning" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></div>
                            <br>
                            <label for="time" class="col-sm-5 col-form-label whitetext" >Время сеанса</label>
                            <input placeholder="Время" type="number" name="time" class="form-control" id="time" th:field="*{time}"/>
                            <div class="alert alert-warning" th:if="${#fields.hasErrors('time')}" th:errors="*{time}"></div>
                        </div>
                    </div>
                    <p>
                        <br>
                        <button type="submit" class="btn-add">Добавить</button>
                        <br>
                    </p>
                </form>
            </div>
        </div>
    </div>
    <div class="mb-5 mb-lg-5 mb-md-5 mb-sm-5 mb-xl-5 mb-xxl-5 p-4 p-lg-4 p-md-4 p-sm-4 p-xl-4 p-xxl-4"></div>
    <div class="mb-5 mb-lg-5 mb-md-5 mb-sm-5 mb-xl-5 mb-xxl-5 p-4 p-lg-4 p-md-4 p-sm-4 p-xl-4 p-xxl-4"></div>
    <div class="p-4 p-lg-4 p-md-4 p-sm-4 p-xl-4 p-xxl-4 fixed-bottom align-items-center" style="background: #121212">
        <div class="row row-cols-lg-5">
            <div class="col col-md-4 col-lg-4 col-xl-4 col-xxl-4 col-6">
                <h3 class="text-center card-text comforta-500">Java Spring</h3>
            </div>
            <div class="col col-md-4 col-lg-4 col-xl-4 col-xxl-4 col-6">
                <h3 class="text-center card-text comforta-500">PostgreSQL</h3>
            </div>
            <div class="col col-md-4 col-lg-4 col-xl-4 col-xxl-4 col-6">
                <h3 class="text-center card-text comforta-500">Bootstrap 5</h3>
            </div>

        </div>
    </div>
</div>
</body>
</html>