<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pirata+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Регистрация</title>
</head>
<body class="bodys">
<div class="container-fluid mb-5">
    <nav class="navbar navbar-light snav" >
        <div class="container-fluid snav">
            <a class="navbar-brand"  href="/">
                <img class="logo" th:src="@{/img/play1.png}" alt="CyberPlay" width="80" height="80"/>
            </a>
            <div class="d-inline-flex align-items-center">
                <a class="list-group-item list-group-iteminfo item hrefitem btn-menu comforta-500"  href="/Status">Статусы</a>
                <a class="list-group-item list-group-iteminfo item hrefitem btn-menu comforta-500"  href="/Computer">Компьютеры/Консоли</a>
                <a class="list-group-item list-group-iteminfo item hrefitem btn-menu comforta-500"  href="/Guests">Посетители</a>
                <a class="list-group-item list-group-iteminfo item hrefitem btn-menu comforta-500"  href="/Visit">Учет аренды</a>
                <a class="list-group-item list-group-iteminfo item hrefitem btn-menu comforta-500"  href="/Login">Вход</a>
            </div>
        </div>
    </nav>
</div>
<div class="mb-5 mb-lg-5 mb-md-5 mb-sm-5 mb-xl-5 mb-xxl-5 p-4 p-lg-4 p-md-4 p-sm-4 p-xl-4 p-xxl-4"></div>
<!--<div class="mb-5 mb-lg-5 mb-md-5 mb-sm-5 mb-xl-5 mb-xxl-5 p-4 p-lg-4 p-md-4 p-sm-4 p-xl-4 p-xxl-4"></div>-->
<!--<div class="mb-5 mb-lg-5 mb-md-5 mb-sm-5 mb-xl-5 mb-xxl-5 p-4 p-lg-4 p-md-4 p-sm-4 p-xl-4 p-xxl-4"></div>-->
<form method="POST" th:action="@{/Registration}" id="loginFrom" class="fixed-bottom sticky-top mt-5">
    <div class="container-fluid mb-3" >
        <br>
        <div class="row row-cols-lg-5">
            <div class="col col-md-4 col-lg-4 col-xl-4 col-xxl-4 col-6"></div>
            <div class="col col-md-4 col-lg-4 col-xl-4 col-xxl-4 col-6 form-style" >
                <p><p></p></p>
                <h1 class="text-center gradient-text">Регистрация</h1>
                <br>

                <label for="username" class="col-sm-5 text-start col-form-label whitetext card-text comforta-500"></label>
                <input type="text"  class="form-control align-items-center label-form" name="username" placeholder="Логин" id="username" /><br/>
                <label for="password" class="col-sm-5 text-start col-form-label whitetext card-text comforta-500"></label>
                <input type="password"   class="form-control align-items-center label-form" name="password" placeholder="Пароль" id="password" /><br/>
                <label for="email" class="col-sm-5 text-start col-form-label whitetext card-text comforta-500"></label>
                <input type="text"  class="form-control align-items-center label-form" name="email" placeholder="Почта" id="email" /><br/>
                <div th:align="center">
                    <button type="submit" class="list-group-item align-items-center item btn-reg comforta-500">Создать аккаунт</button>
                    <p></p>
                    <p>Уже есть аккаунт? <a th:href="@{/Login}" class="whitetext gradient-href-text comforta-500" >Авторизация</a></p><p><p></p></p>
                </div>
            </div>
            <div class="col col-md-4 col-lg-4 col-xl-4 col-xxl-4 col-6"></div>
        </div>
    </div>
</form>
<!--<div class="mb-5 mb-lg-5 mb-md-5 mb-sm-5 mb-xl-5 mb-xxl-5 p-4 p-lg-4 p-md-4 p-sm-4 p-xl-4 p-xxl-4"></div>-->
<!--<div class="mb-5 mb-lg-5 mb-md-5 mb-sm-5 mb-xl-5 mb-xxl-5 p-4 p-lg-4 p-md-4 p-sm-4 p-xl-4 p-xxl-4"></div>-->
<div class="p-4 p-lg-4 p-md-4 p-sm-4 p-xl-4 p-xxl-4 fixed-bottom align-items-center" style="background: #121212">
    <div class="row row-cols-lg-5">
        <div class="col col-md-4 col-lg-4 col-xl-4 col-xxl-4 col-6">
            <h3 class="text-center card-text comforta-500">Java Spring</h3>
        </div>
        <div class="col col-md-4 col-lg-4 col-xl-4 col-xxl-4 col-6">
            <h3 class="text-center card-text comforta-500">PostgreSQL</h3>
        </div>
        <div class="col col-md-4 col-lg-4 col-xl-4 col-xxl-4 col-6">
            <h3 class="text-center card-text comforta-500">Bootstrap 5</h3>
        </div>

    </div>
</div>
</body>
</html>